@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@plugin "daisyui";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* Only light for now */

  color-scheme: light;
  color: rgba(29, 29, 29, 0.87);
  background-color: #e2e2e2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --content-width-max: 80rem;
  --dark-brown-text: #543c30;

  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;
  --clr-transparent: #ffffff00;
  
  /** Theme primary colors */
  --light-primary-a0: #56d1b1;
  --light-primary-a10: #4eb79c;
  --light-primary-a20: #459e87;
  --light-primary-a30: #3d8672;
  --light-primary-a40: #356f5f;
  --light-primary-a50: #2c584b;
  --light-primary-a60: #234239;
  --light-primary-a70: #1b2e28;
  --light-primary-a80: #121a18;
  --light-primary-a90: #000000;

  --light-secondary-a0: #86cdfc;
  --light-secondary-a10: #77b4dd;
  --light-secondary-a20: #689bbe;
  --light-secondary-a30: #5983a0;
  --light-secondary-a40: #4b6c84;
  --light-secondary-a50: #3d5668;
  --light-secondary-a60: #2f414e;
  --light-secondary-a70: #222d35;
  --light-secondary-a80: #151a1e;
  --light-secondary-a90: #000000;

  /** Theme surface colors */
  --light-surface-a0: #ffffff;
  --light-surface-a10: #f0f0f0;
  --light-surface-a20: #e1e1e1;
  --light-surface-a30: #d3d3d3;
  --light-surface-a40: #c5c5c5;
  --light-surface-a50: #b6b6b6;
  --light-surface-a60: #a9a9a9;
  --light-surface-a70: #9b9b9b;

  /** Theme tonal surface colors */
  --light-surface-tonal-a0: #e9f5ff;
  --light-surface-tonal-a10: #dde7f0;
  --light-surface-tonal-a20: #d1dae1;
  --light-surface-tonal-a30: #c5ccd3;
  --light-surface-tonal-a40: #b9bfc5;
  --light-surface-tonal-a50: #adb2b6;
  --light-surface-tonal-a60: #a2a5a9;
  --light-surface-tonal-a70: #96999b;

  /** Success colors */
  --clr-success-a0: #1b7f5c;
  --clr-success-a10: #28be8a;
  --clr-success-a20: #58dbad;

  /** Warning colors */
  --clr-warning-a0: #b8871f;
  --clr-warning-a10: #dfae44;
  --clr-warning-a20: #ebca85;

  /** Danger colors */
  --clr-danger-a0: #b13535;
  --clr-danger-a10: #d06262;
  --clr-danger-a20: #e29d9d;

  /** Info colors */
  --clr-info-a0: #1e56a3;
  --clr-info-a10: #347ada;
  --clr-info-a20: #74a4e6;

}

body {
  scroll-behavior: smooth;
}

.texturina {
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
}

.gelasio {
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
}

.hero {
  background-image: url('/static/imgs/cross_hero_v2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.footer-text {
  font-size: 1rem;
  color: var(--light-surface-tonal-a30);
}