{{ define "components/card" }}
    <article class="card-component">
        <div class="card-img-wrapper"> 
            <img src="https://penguinui.s3.amazonaws.com/component-assets/card-img-1.webp" class="object-cover transition duration-700 ease-out group-hover:scale-105" alt="a penguin robot talking with a human" />
        </div>
        <div class="card-content-wrapper flex flex-col gap-4 p-6">
            <h3 class="card-content-header" aria-describedby="featureDescription">Penguai can teach you Javascript</h3>
            <p id="featureDescription" class="text-pretty text-sm">
                Learning JavaScript doesn't need to be difficult. Our penguin AI
                robot can learn how much you know and will go at your speed.
                Although Penguai is small, he's got a mighty big CPU.
            </p>
        </div>
    </article>

{{ end }}